<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>타임라인</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js">
    <link href="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <!------ Include the above in your HEAD tag ---------->


    <link href="https://fonts.googleapis.com/css?family=Rokkitt" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!------ Include the above in your HEAD tag ---------->

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous">

    <link href="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
          integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
          crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
          integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
          crossorigin="anonymous">

    <!-- jQuery -->
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="/webjars/jquery-ui/1.11.4/jquery-ui.min.js"></script>

    <!-- SweetAlert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Custom styles for this template-->
    <link th:href="@{css/sb-admin-2.min.css}" rel="stylesheet">
    <link th:href="@{css/timeline.css}" rel="stylesheet">


    <script>
        var action = '';
        var url = '/timeline/insert';
        var type = 'POST';

        $(document).ready(function () {
            //swal("load Success","Hello User","success");

            $("#submitBtn").click(function () {
                var data = {
                    // "content" : $("#message").val(),
                    "file" : new FormData($("#file").files)
                };

                $.ajax({
                    url: url,
                    type: type,
                    data: data,
                    processData: false,
                    contentType: "application/json",
                    enctype: "multipart/form-data",
                    success: function (data) {
                        swal("저장했습니다!", "버튼을 클릭해주세요!", "success");
                    },
                    complete: function (data) {
                        location.reload();
                    }
                });
            });

            $("#cmtbtn").click(function () {
                var data = {
                    "comment": $("#comment").val(),
                    "articleIdx": $("#articleIdx").val(),
                    "groupIdx":$("#groupIdx").val()
                };

                $.ajax({
                    url: '/comment/insert',
                    type: 'POST',
                    data: data,
                    success: function (data) {
                            $("#comment").val('');
                    },
                    complete: function (data) {
                        location.reload();
                    }
                });
            });
        });
    </script>
</head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="">
            <!-- toolbar -->
            <div th:include="/toolbar.html"></div>
            <div class="row">
                <!--메뉴-->
                <nav class="btn btn-primary" style="margin-left: 470px;">
                    <a href="#" class="text-white" style="margin-left: 20px">타임라인</a>
                    <span th:if="${groups.getCategory().toString().equals('야구')}">
                    <a th:href="@{/baseball(groupIdx = ${groups.getGroupIdx()})}" class="text-white" style="margin-left: 40px">기록실</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                    <span th:if="${groups.getCategory().toString().equals('축구')}">
                    <a th:href="@{/soccer(groupIdx = ${groups.getGroupIdx()})}" class="text-white" style="margin-left: 40px">기록실</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                    <span th:if="${groups.getCategory().toString().equals('농구')}">
                    <a th:href="@{/basketball(groupIdx = ${groups.getGroupIdx()})}" class="text-white" style="margin-left: 40px">기록실</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                    <span th:if="${groups.getCategory().toString().equals('당구')}">
                    <a th:href="@{/billiard(groupIdx = ${groups.getGroupIdx()})}" class="text-white" style="margin-left: 40px">기록실</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                    <span th:if="${groups.getCategory().toString().equals('볼링')}">
                    <a th:href="@{/bowling(groupIdx = ${groups.getGroupIdx()})}" class="text-white" style="margin-left: 40px">기록실</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                    <span th:if="${groups.getCategory().toString().equals('걷기')}">
                    <a th:href="@{/walk(groupIdx = ${groups.getGroupIdx()})}" class="text-white" style="margin-left: 40px">기록실</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                    <a href="#" class="text-white" style="margin-left: 40px">공지사항</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a th:href="@{/Photo(groupIdx=${groups.getGroupIdx()})}" class="text-white" style="margin-left: 40px">사진첩</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#" class="text-white" style="margin-left: 40px;margin-right: 20px">일정</a>
                </nav>
            </div>
            <!--왼쪽-->
            <div class="container-fluid gedf-wrapper">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                            <div class="card-title" style="margin-top: 20px; margin-left: auto;margin-right: auto">
                                <span>모임 이름</span>
                            </div>
                            <hr>
                            <div class="card-text" style="margin-top: 20px; margin-left: auto;margin-right: auto">
                                <span>모임 콘텐트</span>
                            </div>
                            <button id="btnjoin" class="btn btn-primary" type="button" onclick=""
                                    style="margin-top: 20px">모임 가입하기
                            </button>
                        </div>
                    </div>

                    <div class="col-md-6 gedf-main">
                        <!--타임 라인 글쓰기-->
                        <form action="/timeline/insert" enctype="multipart/form-data" id="articleForm" name="articleForm" method="POST">
                            <input type="hidden" name="groupIdx" th:value="${groups.getGroupIdx()}">
                            <div class="card gedf-card">
                                <div class="card-header">
                                    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist"
                                        style="margin-top: -10px">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts"
                                               role="tab" aria-controls="posts" aria-selected="true">글쓰기</a>
                                        </li>
                                        <li class="nav-item">
                                            <input type="file" name="imageFile" id="file">
                                            <a class="nav-link" id="images-tab" data-toggle="tab" role="tab"
                                               aria-controls="images" aria-selected="false" href="#images">사진 업로드</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="posts" role="tabpanel"
                                             aria-labelledby="posts-tab">
                                            <div class="form-group">
                                                <label class="sr-only" for="message">post</label>
                                                <textarea class="form-control" id="message" rows="3" name="message"
                                                          placeholder="당신의 생각을 공유해주세요!"></textarea>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="images" role="tabpanel"
                                             aria-labelledby="images-tab">
                                            <div class="form-group">
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" id="customFile">
                                                    <label class="custom-file-label" for="customFile">사진 업로드</label>
                                                </div>
                                            </div>
                                            <div class="py-4"></div>
                                        </div>
                                    </div>
                                    <div class="btn-toolbar justify-content-between">
                                            <input type="submit" class="btn btn-primary" value="글쓰기"/>
                                    </div>
                                </div>
                            </div>
                        </form>


                        <!--- 타임라인 목록불러오기-->
                        <div class="card gedf-card" th:each="art,index : ${articleList}">
                            <div class="card-header">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="mr-2" th:if="${photoList.get(index.index) != null}">
                                            <img class="rounded-circle" width="45" th:src="@{/UploadFile/{filename}(filename = ${photoList.get(index.index).getFileName()})}"
                                                 alt="" style="height: 100px">
                                        </div>
                                        <div class="ml-2">
                                            <div class="h5 m-0">신택</div>
                                            <div class="fa fa-clock-o">2019-09-02 오전 11:39</div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="dropdown">
                                            <button class="btn btn-link dropdown-toggle" type="button"
                                                    id="configuration" data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">
                                                <i class="fa fa-ellipsis-h"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right"
                                                 aria-labelledby="configuration">
                                                <a class="dropdown-item" href="#">신고하기</a>
                                                <a class="dropdown-item" href="#">삭제하기</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="card-body">
                                <p class="card-text" th:text="${art.getContent()}">
                                </p>
                                <a href="#" th:if="${photoList.get(index.index) != null}">
                                    <img class="card-img-top" th:src="@{/UploadFile/{filename}(filename = ${photoList.get(index.index).getFileName()})}" alt=""
                                style="width: 570px;height: 400px">
                                </a>
                            </div>
                            <div class="card-footer">
                                <a href="#" class="card-link"><i class="fa fa-gittip"></i> 좋아요</a>
                                <a href="#" class="card-link"><i class="fa fa-comment"></i> 댓글</a>
                            </div>
                            <div class="card-body row">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="mr-2">
                                        <img class="rounded-circle" style="width: 50px"  src="https://picsum.photos/50/50"
                                             alt="">
                                    </div>
                                    <div class="ml-2">
                                        <div class="h5 m-0">신택</div>
                                    </div>
                                    <!--댓글-->
                                    <div class="form-group" style="margin-top: 20px;margin-left: 20px">
                                        <input type="hidden" name="articleIdx" th:value="${art.getArticleIdx()}">
                                        <input type="hidden" name="groupIdx" th:value="${groups.getGroupIdx()}">
                                        <input type="text" class="text-area" id="comment" name="comment" rows="3"
                                               placeholder="댓글을 입력하세요!" style="height: 35px;width: 300px;float: left">
                                        <button class="btn btn-primary" id="cmtbtn" name="cmtbtn" type="submit" style="margin-left: 10px;">입력</button>
                                    </div>
                                </div>
                            </div>

                            <!--댓글 목록-->
                            <div class="card-body row" th:if="${commentList.get(index.index) != null}">
                                <div class="d-flex justify-content-between align-items-center" style="margin-left: 40px">
                                    <div class="mr-2">
                                        <img class="rounded-circle" style="width: 50px"  src="https://picsum.photos/50/50" alt="">
                                    </div>
                                    <div class="ml-2">
                                        <div class="h5 m-0">신택</div>
                                    </div>
                                    <!--댓글List-->
                                        <div class="my-3 p-3 bg-white rounded shadow-sm" style="margin-left: 20px;height: 35px" th:text="${commentList.get(index.index).getContent()}">
                                        </div>

                                </div>
                            </div>
                        </div>
                        <!-- Post /////-->
                    </div>
                    <!--오른쪽-->
                    <div class="col-md-3">
                        <div class="card gedf-card">
                            <div class="card-header">
                                <span>승률</span>
                            </div>
                            <div class="card-body">
                                <div class="chart-pie pt-4">
                                    <canvas id="myPieChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>   <!--row끝-->
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript-->
<script th:src="@{vendor/jquery/jquery.min.js}"></script>
<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/js/demo/chart-area-demo.js}"></script>
<script th:src="@{/js/demo/chart-pie-demo.js}"></script>
<script th:src="@{/js/demo/chart-bar-demo.js}"></script>

</body>

</html>
